/* Apply background colors to each div based on their ID */
#red { background-color: #f00; }
#orange { background-color: #ffa500; }
#yellow { background-color: #ff0; }
#green { background-color: #00bc3f; }
#blue { background-color: #06f; }
#indigo { background-color: #8a2be2; }
#violet { background-color: #d300c9; }

/* Common styling for all divs */
div {
  display: inline-block;
  min-width: 20em;
  min-height: 25em;
  border-radius: 50%;
}
